.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    //border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px !important;
}

td.hljs-ln-line.hljs-ln-numbers {
    width: 40px;
    text-align: center;
    background: rgba(200, 200, 200, 0.15);
}

.hljs-ln td,
.hljs-ln th {
    border: none;
    line-height: 1.6rem;
    font-size: 14px;
}

.hljs-ln tbody tr:nth-of-type(odd) {
    background-color: #fafafa;
}

.hljs {
    padding: 0 !important;
    font-family: Consolas, "Microsoft YaHei", sans-serif, "Source Code Pro";
}

.hljs-ln {
    margin: 0 auto;
}