.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
tests
screenshots/**
logos/others/**
README.CN.md
yarn.lock
**.vsix
logos/hero3.png
logos/hero5.png
logos/others/**
publish.js
test/**
push.sh