*
{
....margin:.0px;
....padding:.0px;
....box-sizing:.boader-box;
....justify-content:.center;
....align-items:.center;
....display:.block;
....text-align:center;
....float:.left;
....font-style:normal;
....text-align:center;
....float:.left;
....font-style:normal;
....text-justify:.inherit;
....box-sizing:.boader-box;
....font-size:.15px;
....font-weight:.500;
....font-family:.'montserrat',.sans-serif;
....border:.1px.sodid.#fff;
....-color:.#fff;
....color:#000;
....boarder-radius:.10px;
....boader-left:.100px;
....boader-right:.100px;
....boader-top:.100px;
....boader-bottom:.100px;
....boader-style:.none;
....boader-width:.100px;
....boader-height:.100px;
....width:.100px;
....height:.100px;
....boader-none;
....outline:none;
....list-style:none;
....list-style-type:.none;
....flex-direction:.column;
....flex-wrap:wrap-reverse;
....flex-flow:.coloumn;
....flex-basic:.content;
....flex-glow:.inherit;
....flex-shrink:.inherit;
....direction:.inherit;
}

